/*  
    TODO (for styles only, aby work for a specific page needs to be addressed ina comment, in the head tags of that web page):
    o make text and images responisive 
    o format the navigation bar
    o design a booking page
    o flesh out the other pages with more general content

    Pictures we can use for the website :
    o https://www.istockphoto.com/search/2/image?family=creative&phrase=natural%20black%20hair (these are really good images for a mobile screen size)
    o https://images.pexels.com/photos/1319462/pexels-photo-1319462.jpeg?auto=compress&cs=tinysrgb&w=600
    o https://images.pexels.com/photos/853427/pexels-photo-853427.jpeg?auto=compress&cs=tinysrgb&w=600
    o https://images.pexels.com/photos/3993449/pexels-photo-3993449.jpeg?auto=compress&cs=tinysrgb&w=600
    o https://media.cnn.com/api/v1/images/stellar/prod/221021123823-03-hair-straighteners-hair-styling.jpg?c=original
    o https://media.allure.com/photos/618153bc590337268c4b06fd/4:3/w_2664,h_1998,c_limit/My%20Beautiful%20Black%20Hair%201.jpg 
    o https://media.glamour.com/photos/5dae01016dc52300087eae8d/1:1/w_1950,h_1950,c_limit/Stocksy_txp95a60f44RZV200_Large_2068534.jpg
    
    these websites have a lot of 
*/

/*
    this is a resource for backgorund images in bootstrap and ways to style them
body{
    background-color:beige;
}*/

/* Styles for background image (I want different background images for every page)*/
#indexImg{
    background-image: url('../Images/graduation_pic.jpg');
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;              /* optional, center the image */
}
#AboutImg{
    background-image: url('../Images/About_Page.jpg');
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;              /* optional, center the image */
}
#SerivceImg{
    background-image: url('../Images/blonde_selife.jpg');
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;              /* optional, center the image */
}
#GalleryImg{
    background-image: url('../Images/Gallery_Page.jpg');
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;              /* optional, center the image */
}
#BookingImg{
    background-image: url('https://media1.popsugar-assets.com/files/thumbor/CrBb9ifXRBDIc-7HaHWAUTIBPXg/0x0:5714x3000/fit-in/1200x630/filters:format_auto-!!-:strip_icc-!!-/2021/07/21/768/n/1922153/c1479ff060f858ede84f23.34474278_.jpg');
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;              /* optional, center the image */
}
/*Styles for service cards*/
#ServiceCardImg{
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;              /* optional, center the image */
}
/* Styles for the nav */

.Header111{
    font-size: 80px;/*9vw*/
    /* Center vertically and horizontally */
    display: flex;
    /*position: relative;*/
    text-align: center;
    align-items: center;
    margin: auto;
    top: 25%;
    /* more styles*/
    height: 200px;
    max-width: 600px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: aliceblue;
    display: block;
}

.indexContent{
    font-size: 20px;/*2.2vw*/
    font-weight: bold;
    /* Center vertically and horizontally */
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    margin: auto;
    top: 25%;
    /*styles*/
    display: block;
    max-width: 275px;
    max-height: 50px;
    padding: 5px;
    -webkit-text-stroke: .2px black;
    color:azure;
    /*
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
    */
}

.aboutContent{
    font-size: 20px;/*2.2vw*/
    font-weight: bold;
    /* Center vertically and horizontally */
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    margin: auto;
    top: 5%;
    /*styles*/
    display: block;
    padding: 5px;
    -webkit-text-stroke: .2px black;
    color:azure;
    /*
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
    */
}

.SerivceColor{
    background-color: rgba(255, 255, 255, 0.8);
}

.AboutColor{
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 690px;
}

.btnCenter{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    margin: auto;
}

/*
Media query for services
*/

@media only screen and (max-width: 991px)  {
    .ThisIsHidden991{
        display: none;
    }
}

/*
Media query for headers
*/

@media only screen and (max-width: 301px)  {
    .HeaderSize301{
        font-size: 27vw;/**/
    }
}

@media only screen and (max-width: 342px)  {
    .AboutHeaderSize342{
        font-size: 22vw;/**/
    }
}

@media only screen and (max-width: 420px)  {
    .HeaderShadow{
        color: red;
    /* more styles*/
    height: 200px;
    max-width: 600px;
    -webkit-text-stroke: 0px ;
    -webkit-text-fill-color: aliceblue;
    display: block;
    }
}



a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
/*Style for a tags inside buttons*/
button a {
    color: black;
}
button a :link {
    color: black;
}
button a :visited {
    color: black;
}
button a :hover {
    color: black;
}
button a :active {
    color: black;
}